@import url('https://fonts.googleapis.com/css2?family=Trabajo+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 100;
}
html{
    /*me permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
    }
    
    /*menu*/
    .contenedor-header{
        background:  white
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99 ;
        
        
    }
    .contenedor-header header{
        max-width: 1100px;
        margin: auto;
        display:flex;
        justify-content: space-between;
        padding: 15px 20px;
        
    }
    /*este es el de la barra de aariba del todo*/
    .contenedor-header header .logo a{
        font-family: 'Times New Roman', Times, serif;
        font-size: 36px;
        color: rgb(145, 17, 145);
        text-decoration: none;
        right: 90%;
       
    }
    .contenedor-header header ul{
        display:flex;
        list-style: none;
    }
    .navegador{
        background-color: white
       
    }
    .nav-link{
        color: rgb(188, 26, 131);
    }
    /*este es el de la barra donde pone Inicio,sobre mi..*/
    .nav-item{
       
   
        text-align-last: right;
        margin: 10px 80px;
        padding: 9px;
        transition: .5s;
        text-decoration: none;
    }
  
  
        /*seccion de i n i c i o*/
    
   
    
    
    
    
    .inicio .contenido-img{
        padding: 2px;
        background-color:  rgb(255, 255, 255);
        max-width: 200px;
        margin:auto;
        text-align:center;
        border-radius: 10%;
        color: rgb(22, 21, 21);
        margin-top: 20px ;
    }

   
  
    
     .inicio .contenido-banner .redes a{
        
        color: rgb(56, 126, 231);
        text-decoration: none;
        display: inline-block;
        border: 2px solid #fff;
        width: 42px; /*Separacion entre los iconos*/
        height: 42px;
        line-height: 42px;
        margin: 40px 5px;
        font-size: 20px;
        transition: .3s;
        border-radius: 100%
     }
     .inicio .contenido-banner .redes a:hover{
        background-color:rgb(187, 153, 193);
    }
    .sobremi{
       
        color: rgb(75, 63, 71);
        padding: 50px 20px;
        background: white
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .sobremi .contenido-seccion{
        max-width: 1100px;
        margin: auto;
        color: rgb(181, 29, 161);
    }
    .sobremi h2{
        font-size:48px;
        font-family: 'Times New Roman', Times, serif,cursive;
        text-align: center;
        padding: 20px;
    
    }
    .sobremi .contenido-seccion p{
        font:18px;
        line-height: 22px;
        margin-bottom: 20px;
        text-align:center;
       
    }
    .sobremi .contenido-seccion p{
        color: rgb(78, 72, 76);
        font-weight: bold;
    }
    /*para poner en cloumna los datos personales e intereses*/
    .sobremi .fila{
        display:flex;

    }
    .sobremi .fila .col{
        width: 50%;
    }
   
    .sobremi .fila .col ul{
        list-style: none;
    }
    .sobremi .fila .col ul li{
        margin: 12px 0px;
    }
    .sobremi .fila .col ul li strong{
        display: inline-block;
        color: rgb(93, 138, 180);
        width: 130px;
    }
    /*Donde pone la ubicación*/
    .sobremi .fila .col ul li span{
        background-color:  rgb(228, 135, 175);
        padding: 3px;
        font-weight: bold;
        border-radius: 5px;
    }
    .sobremi .fila .col .contenedor-intereses{
        display: flex;
        flex-wrap:wrap ;

    }

    /* cajoness de los intereses*/
    .sobremi .fila .col .contenedor-intereses .intereses{
        width: 100px;
        height: 100px;
        background-color: rgb(200, 148, 204);
        border-radius: 10px;
        margin: 0px 15px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    /*para ponerle color cuando pasa el ratón*/
    .sobremi .fila .col .contenedor-intereses .intereses:hover{
        background-color: rgb(215, 250, 220);
    }
    /*para ponerlo en negrita y más grande*/
    .sobremi .fila .col .contenedor-intereses .intereses i{
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .info button{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid rgb(45, 212, 54);
        width: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px 22px;
        font-size: 16px;
        color: rgb(46, 175, 46);
        position: relative;
        z-index: 10;
    }
    .sobremi button .overlay{
        possition: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgb(226, 43, 43);
        z-index: 0.1;
        transition: 1s;
    }
    .sobremi button:hover .overlay{
        width: 100%;
    }
    
    

    /*SECCION de CV*/
    .curriculum{
        background-color: white;
        color: rgb(185, 173, 185);
        padding: 50px 20px;
    }
    .curriculum .contenido-seccion{
        max-width: 1100px;
        margin: auto;
    }
    .curriculum h2{
        font-size:48px;
        font-family: 'Times New Roman', Times, serif,cursive;
        text-align: center;
        padding: 20px;
        color:  rgb(145, 27, 96);
        max-width: 1100px;
    }
    /*Para hacerlo en columna*/
    .curriculum .fila{
        display: flex ;
        justify-content: space-between;
    }
    .curriculum .fila .col{
        width: 49%;
        padding: 0 20px;
    }
    .curriculum .fila .col h3{
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif,cursive;
        margin-bottom: 25px;
        text-align: center;
    }
   
   
    /*Para el relleno del cuadro de CV*/
    .curriculum .fila .item{
        padding: 25px;
        margin-bottom: 30px;
        background-color: rgb(153, 42, 107);
        position: relative;
    }
    /*Para la separación de columnas*/
    .curriculum .fila .item h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .curriculum .fila .item .casa{
        color: bisque;
        font-size: 22px;
        font-weight: bold;
        display: block;
    }
    .curriculum .fila .item .fecha{
        display: block;
        color: blanchedalmond;
        margin-bottom: 10px;
    }
    .curriculum .fila .item p{
       line-height: 24px; 
    }
    
    /*Sección contacto*/

    .contacto .contenido-seccion{
        max-width: 1100;
        margin: auto;
    }
    .contacto h2{
        font-size:50px;
        font-family: 'Times New Roman', Times, serif,cursive;
        text-align: center;
        padding: 60px;
    }
    .contacto .fila{
        display: flex;
    }
    .contacto .col{
        width: 50%;
        padding: 70px;
        position: relative;
    }
 
    .contacto button{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid rgb(63, 55, 61);
        width: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px 22px;
        font-size: 16px;
        color: rgb(81, 68, 95);
        position: center;
        z-index: 10;
    }
  
    .contacto button:hover .overlay{
        width: 100%;
    
    }
    /* Cuadradito de al la lado de la ubicación */
    .contacto .col .info{
        position: absolute;
        top: 10%;
        background-color:  rgb(236, 201, 228);
        padding: 10px;
        width: 200px;
        left: 42%;
        
        border-radius: 10px;
    }
    .contacto .col .info ul{
        list-style:none;
    }
    .contacto .col .info ul li{
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .contacto .col .info ul li i{
        color:  rgb(55, 58, 57);
        display:inline-table;
        margin-right:1px ;}